/*************************************************************/
/*  	GENERAL												 */
/*************************************************************/
html, body { @include default-font; overflow-x: hidden}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.half { width: 50%;}
.third { width: 33%;}
.two-thirds { width: 67%;}
.fourth { width: 25%;}
.three-fourths { width: 75%;}

.main {min-width: $min-width; }
.container-large { max-width: $max-width; margin: 0 auto;}
.container { max-width: 867px; margin: 0 auto; padding-right: 28px; box-sizing: border-box;}


/*************************************************************/
/*  	HEADER												 */
/*************************************************************/
header {
	position: fixed; z-index: 999; top: 0; width: 100%; background-color: $dark-blue; color: $yellow; padding-top: 25px;
	-webkit-font-smoothing: antialiased;

	.logo {
		float: left;

		span {
			font-size: 13px;
			color: #999;
			font-family: $bold;
			text-transform: uppercase;
			margin-left: 32px;
		}

		img {
			width: 132px;
		}
	}

	.navigation {
		float: right;
		padding: 20px 0;
		ul { display: inline-block; margin: 0; padding: 0;}
		ul li { list-style-type: none; display: inline-block; margin: 10px 9px; }

		a {
			color: $yellow;
			text-transform: uppercase;
			text-decoration: none;
			font-family: $bold;
			font-size: 13px;
			margin-top: 4px;
			display: block;

			&:hover,
			&.active {
				color: $light-yellow;
			}
		}

		a#investorLogin {
			color: $white;

			&:hover {
				color: $light-blue;
			}
		}
	}

	#mobile-menu-trigger {
		display: none;
	}

}

.mobile-navigation {
	display: none;
	height: 100vh;
	float: right;
	padding: 20px 0;
	ul { display: inline-block; margin: 0; padding: 0;}
	ul li { list-style-type: none; display: inline-block; margin: 10px 9px; }

	a {
		color: $yellow;
		text-transform: uppercase;
		text-decoration: none;
		font-family: $bold;
		font-size: 13px;
		margin-top: 4px;
		display: block;

		&:hover,
		&.active {
			color: $light-yellow;
		}
	}

	a#investorLogin {
		color: $white;

		&:hover {
			color: $light-blue;
		}
	}
}


/*************************************************************/
/*  	BASIC SECTIONS										 */
/*************************************************************/
.section {
	position: relative;
	// height: 100vh;
	width: 100vw;
}

.section-title {
	font-family: $book;
	font-size: 40px; //6vh;
	padding-top: 8vh; //65px;
	line-height: 5vh; //40px;
}

p {
	margin-bottom: 0;
}

.bold {
	font-family: $medium;
	color: $black;
}

/*************************************************************/
/*  	HERO SECTION										 */
/*************************************************************/

#home {
	background: #CB982D url('../images/homepage-background.jpg') no-repeat;
	background-position: right bottom;
	background-size: 53%;
	// background-size: cover;

	.container-large {
		position: relative;

		.text-container {
			width: 45%;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);

			.alt-asset-mobile {
				display: none;
			}

			.headline {
				color: $black;
				font-size: 19px;
				font-family: $bold;
				text-transform: uppercase;
			}

			h1 {
				color: $white;
				font-size: 60px; //6vh
				line-height: 60px; //6vh
				font-family: $light;
				margin-top: 20px;
			}
		}
	}

	img {
		display: none;
	}
}

/*************************************************************/
/*  	ABOUT SECTION										 */
/*************************************************************/

#about-us {
	background: $grey;

	// z-index: 1000;

	.section-title {
		color: $dark-blue;
	}

	p {
		color: $light-grey;
		font-size: 3.5vh; // 30px
		line-height: 4vh; // 33px
		font-family: $light;

		&:first-of-type {
			margin-top: 5vh; //48px;
		}
	}
}

/*************************************************************/
/*  	INVESTMENT PRINCIPLES	    						 */
/*************************************************************/
#investment-principles-heading {
	background: $black;
	padding-bottom: 50px;

	.section-title {
		color: $yellow;
		padding-top: 70px; //50px
		font-family: $light;
	}

	p {
		color: $grey-text;
		font-size: 30px;
		line-height: 33px;
		font-family: $light;

		&:first-of-type {
			margin-top: 48px;
		}
	}
}

/*************************************************************/
/*  	CONTACT US   										 */
/*************************************************************/
#contact {
	background: $yellow;

	.section-title {
		color: black;
	}

	.locations {
		margin-top: 50px;

		.location {
			float: left;
			width: 33%;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					font-size: 15px;
					line-height: 20px;

					&.company-name {
						color: #efe0c0;
						font-family: $medium;
					}

				}

				a {
					color: $black;
					text-decoration: none;
				}
			}
		}
	}
}

/*************************************************************/
/*  	DISCLAIMER  										 */
/*************************************************************/
#disclosures {
	.section-title {
		color: $dark-blue;
	}

	p {
		color: #5a5b5c;
	}
}

/*************************************************************/
/*  	FOOTER												 */
/*************************************************************/
footer {
	padding: 40px 0 60px;
	color: #5a5b5c;

	.all-rights {
		display: inline;
	}
}

/*************************************************************/
/*  	SLIDES           									 */
/*************************************************************/


.slides {
	padding: 0;
    margin: 0;
    // height: 100vh;
    width: 100vw;
    position: relative;
	// overflow-y: hidden;
	top: 0;
	background: $black;

	.slide {
		height: 100%;
		width: 100%;
		// position: absolute;
		z-index: 3;
		background: $black;
		-webkit-box-shadow: 0px -50px 50px 0px $black;
		-moz-box-shadow: 0px -50px 50px 0px $black;
		box-shadow: 0px -50px 50px 0px $black;
		-webkit-font-smoothing: antialiased;

		.slide-container {
			position: relative;

			.large-number {
				color: $black2;
				font-size: 80vh;
				text-align: center;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0vh);
				-webkit-transform: translate(-50%, 0vh);
			}
		}

		.text-container {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);

			.headline {
				color: $yellow;
				font-size: 19px;
				font-family: $bold;
				padding-bottom: 27px;
				text-transform: uppercase;
			}

			.slide-text {
				color: $grey-text;
				font-size: 59px;
				line-height: 60px;

				ul {
					margin: 15px 0 0;
					padding: 0 0 0 25px;

					li {
						font-size: 36px;
					}
				}
			}
		}

		&:last-of-type {
			.large-number {
				transform: translate(-60%, 0vh) !important;
				-webkit-transform: translate(-60%, 0vh) !important;
				letter-spacing: -78px;
			}
		}

	}
}

/*************************************************************/
/*  	HEADER GRADIENTS           									 */
/*************************************************************/

.goldShadow {
	-webkit-box-shadow: 0 30px 25px 25px $yellow;
	-moz-box-shadow: 0 30px 25px 25px $yellow;
	box-shadow: 0 30px 25px 25px $yellow;
}

.greyShadow {
	-webkit-box-shadow: 0 30px 25px 25px $grey;
	-moz-box-shadow: 0 30px 25px 25px $grey;
	box-shadow: 0 30px 25px 25px $grey;
}

.blackShadow {
	-webkit-box-shadow: 0 30px 25px 25px $black;
	-moz-box-shadow: 0 30px 25px 25px $black;
	box-shadow: 0 30px 25px 25px $black;
}

.whiteShadow {
	-webkit-box-shadow: 0 30px 25px 25px $white;
	-moz-box-shadow: 0 30px 25px 25px $white;
	box-shadow: 0 30px 25px 25px $white;
}
