/*************************************************************/
/*  	VARIABLES and MIXINS								 */
/*************************************************************/

// variables
$white: #fff;
$black: #000;
$black2: #222;
$dark-blue: #003366;
$yellow: #ca982c;
$grey: #7B7C7C;
$light-yellow: #dfc180;
$light-blue: #a6b8c9;
$light-grey: #d1d1d1;
$grey-text: #6a6c6c;
$mid-blue: #164774;

$light: FranklinGothicURW-Lig;
$book: FranklinGothicURW-Boo;
$medium: FranklinGothicURW-Med;
$bold: FranklinGothicURW-Dem;

$max-width: 1024px;
$min-width: 300px;


//mixins
@mixin default-font {
	font-family: FranklinGothicURW-Boo, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: $black;
	font-size: 16px;
}

@mixin h1($color) {
	font-family: Arial;
	color: $color;
	font-size: 36px;
	font-weight: $bold;
}

@mixin h2($color) {
	font-family: Arial;
	color: $color;
	font-size: 24px;
	font-weight: $semibold;
}

@mixin h3($color) {
	font-family: Arial;
	color: $color;
	font-size: 20px;
	font-weight: $semibold;
}


// mixins to handle prefixing:
@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -o-border-radius: $rad;
  border-radius: $rad;
}

@mixin transition($time) {
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
	-ms-transition: all $time ease;
	-o-transition: all $time ease;
	transition: all $time ease;
}

@mixin transform($prop) {
	-webkit-transform: $prop;
	-moz-transform: $prop;
	-ms-transform: $prop;
	-o-transform: $prop;
	transform: $prop;
}

@mixin box-shadow($prop) {
	-webkit-box-shadow: $prop;
	-moz-box-shadow: $prop;
	-ms-box-shadow: $prop;
	-o-box-shadow: $prop;
	box-shadow: $prop;
}

@mixin gradient($topColor, $bottomColor) {
	background-color: -webkit-linear-gradient($topColor, $bottomColor);
	background-color: -moz-linear-gradient($topColor, $bottomColor);
	background-color: -ms-linear-gradient($topColor, $bottomColor);
	background-color: -o-linear-gradient($topColor, $bottomColor);
	background-color: linear-gradient($topColor, $bottomColor);
}
