@media (max-width: 1100px) {
	.container, .container-large {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* tablet size */
@media (max-width: 1024px) {

	header {
		padding-bottom: 25px;

		.logo {

			img {
				width: 150px;
			}

			span {
				display: none;
			}
		}

		.navigation {
			display: none;
		}

		#mobile-menu-trigger {
			display: block;
			width: 30px;
			height: 30px;
			float: right;
			transition: .5s ease all;
			position: relative;

			.horz-bar {
				display: block;
				width: 100%;
				height: 2px;
				background: $white;
				margin-top: 5px;
				transition: .5s ease all;
				opacity: 1;
				left: 50%;
				position: absolute;
				top: 0;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);

				&:first-of-type {
					top: 0;
				}
				&:nth-of-type(2) {
					top: 6px;
				}
				&:last-of-type {
					top: 12px;
				}
			}

			&.opened {
				// margin-top: 8px;

				.horz-bar {

					&:first-of-type {
						transform: rotate(-45deg) translate(-50%, 0);
						-webkit-transform: rotate(-45deg) translate(-50%, 0);
						margin-top: 0;
						position: absolute;
						top: 0%;
						left: 50%;
					}

					&:nth-of-type(2) {
						transform: rotate(45deg) translate(-50%, 0);
						-webkit-transform: rotate(45deg) translate(-50%, 0);
						margin-top: 0;
						position: absolute;
						top: calc(75% - 1px);
						left: 50%;
					}

					&:last-of-type {
						opacity: 0;
					}
				}
			}
		}
	}

	.mobile-navigation {
		display: none;
		position: fixed;
		top: 0;
		background: $mid-blue;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 0 25px;
		height: 100vh;
		z-index:9999;

		ul {

			width: 100%;
			box-sizing: border-box;

			li {
				clear: both;
				float: none;
				display: block !important;
				padding: 23px 0 25px;
				margin: 0;
				border-bottom: 1px solid rgba(255,255,255,.6);

				a {
					font-size: 14px;
				}

				&:last-of-type {
					border-bottom: none;
				}
			}
		}
	}


	#home {
		box-sizing: border-box;
		// height: 100vh;
		background-image: none;
		padding-top: 120px;
		padding-bottom: 0;

		img {
			display: block !important;
			width: 100%;
			padding-left: 25px;
			box-sizing: border-box;
		}

		.text-container {
			position: relative !important;
			transform: translateY(0) !important;
			-webkit-transform: translateY(0) !important;
			top: 0 !important;

			.headline {
				font-size: 19px;
			}

			.alt-asset-mobile {
				display: block !important;
				color: $white;
				font-size: 19px;
				font-family: $bold !important;
				text-transform: uppercase;
				padding-bottom: 30px;
				padding-top: 30px;
			}

			width: 100% !important;

			h1 {
				font-size: 42px;
				line-height: 45px;
			}
		}
	}

	#about-us {

		p {
			font-size: 20px !important;
			line-height: 28px !important;
			width: 100% !important;

			&:first-of-type {
				margin-top: 15px;
			}
		}
	}

	.section {
		padding-bottom: 100px;
	}

	.section-title {
		font-size: 30px !important;
		line-height: 36px !important;
		padding-top: 30px !important;
	}

	#investment-principles-heading {
		.section-title {
			font-family: $light !important;
			padding-top: 38px !important;
		}
	}

	.slides {
		.slide {
			.text-container {
				left: 25px;
				width: calc(100vw - 50px);

				.headline {

				}
				.slide-text {
					font-size: 30px;
					line-height: 33px;
					font-family: $book !important;

					li {
						font-size: 24px !important;
					}
				}
			}

			.large-number {
				font-size: 90vw !important;
				transform: translate(-50%, 0vh) !important;
				-webkit-transform: translate(-50%, 0vh) !important;
			}

			&:last-of-type {
				.large-number {
					transform: translate(-60%, 0vh) !important;
					-webkit-transform: translate(-60%, 0vh) !important;
					letter-spacing: -50px;
				}
			}
		}
	}

	.goldShadow {
		-webkit-box-shadow: 0 15px 18px 18px $yellow !important;
		-moz-box-shadow: 0 15px 18px 18px $yellow !important;
		box-shadow: 0 15px 18px 18px $yellow !important;
	}

	.greyShadow {
		-webkit-box-shadow: 0 15px 18px 18px $grey !important;
		-moz-box-shadow: 0 15px 18px 18px $grey !important;
		box-shadow: 0 15px 18px 18px $grey !important;
	}

	.blackShadow {
		-webkit-box-shadow: 0 15px 18px 18px $black !important;
		-moz-box-shadow: 0 15px 18px 18px $black !important;
		box-shadow: 0 15px 18px 18px $black !important;
	}

	.whiteShadow {
		-webkit-box-shadow: 0 15px 18px 18px $white !important;
		-moz-box-shadow: 0 15px 18px 18px $white !important;
		box-shadow: 0 15px 18px 18px $white !important;
	}

}

/* mobile size */
@media (max-width: 767px) {

	.half, .third, .two-thirds, .three-fourths, .fourth {
		width: 100%;
	}

	#home {
		background-size: 100%;
	}

	#contact {
		.locations {
			.location {
				width: 100%;
				clear: both;
				float: none;
				margin-top: 20px;

				ul {
					li.company-name {
						font-family: $bold !important;
					}
				}
			}
		}
	}

	.slides {
		.slide {
			.large-number {
				transform: translate(-50%, 8vh) !important;
				-webkit-transform: translate(-50%, 8vh) !important;
			}

			&:last-of-type {
				.large-number {
					transform: translate(-60%, 8vh) !important;
					-webkit-transform: translate(-60%, 8vh) !important;
					letter-spacing: -50px;
				}
			}
		}
	}

	footer {
		.all-rights {
			display: block;
		}
	}
}

@media (max-width: 415px) {
	h1 {
		font-size: 10vw !important;
		line-height: 10vw !important;
	}

	.alt-asset-mobile,
	.headline {
		font-size: 4.5vw !important;
	}
}

/* small horizontal screen  */
@media (max-height: 540px) and (min-width: 1024px) {
	#home {
		background-size: 40%;
	}
}
