/* Import components */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/** 1. Change the default font family in all browsers (opinionated). 2. Prevent adjustments of font size after orientation changes in IE and iOS. */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/** Remove the margin in all browsers (opinionated). */
body {
  margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. 2. Add the correct display in IE. */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  /* 1 */
  display: block; }

/** Add the correct display in IE 9-. */
audio, canvas, progress, video {
  display: inline-block; }

/** Add the correct display in iOS 4-7. */
audio:not([controls]) {
  display: none;
  height: 0; }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/** Add the correct display in IE 10-. 1. Add the correct display in IE. */
template, [hidden] {
  display: none; }

/* Links ========================================================================== */
/** 1. Remove the gray background on active links in IE 10. 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/** Remove the outline on focused links when they are also active or hovered in all browsers (opinionated). */
a:active, a:hover {
  outline-width: 0; }

/* Text-level semantics ========================================================================== */
/** 1. Remove the bottom border in Firefox 39-. 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong {
  font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/** Add the correct font style in Android 4.3-. */
dfn {
  font-style: italic; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/** Correct the line-height for all headings in Chrome mobile, Firefox, iOS Safari, Microsoft Edge and IE. */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.15; }

/** Add the correct background and color in IE 9-. */
mark {
  background-color: #ff0;
  color: #000; }

/** Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10-. */
img {
  border-style: none; }

/** Hide the overflow in IE. */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content ========================================================================== */
/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/** Add the correct margin in IE 8. */
figure {
  margin: 1em 40px; }

/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms ========================================================================== */
/** 1. Change font properties to `inherit` in all browsers (opinionated). 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/** Restore the font weight unset by the previous rule. */
optgroup {
  font-weight: bold; }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/** Change the border, margin, and padding in all browsers (opinionated). */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/** Remove the default vertical scrollbar in IE. */
textarea {
  overflow: auto; }

/** 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/** Remove the inner padding and cancel buttons in Chrome and Safari on OS X. */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/** Correct the text style of placeholders in Chrome, Edge, and Safari. */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*************************************************************/
/*  	VARIABLES and MIXINS								 */
/*************************************************************/
/*************************************************************/
/*  	GENERAL												 */
/*************************************************************/
html, body {
  font-family: FranklinGothicURW-Boo, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  overflow-x: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.half {
  width: 50%; }

.third {
  width: 33%; }

.two-thirds {
  width: 67%; }

.fourth {
  width: 25%; }

.three-fourths {
  width: 75%; }

.main {
  min-width: 300px; }

.container-large {
  max-width: 1024px;
  margin: 0 auto; }

.container {
  max-width: 867px;
  margin: 0 auto;
  padding-right: 28px;
  box-sizing: border-box; }

/*************************************************************/
/*  	HEADER												 */
/*************************************************************/
header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: #003366;
  color: #ca982c;
  padding-top: 25px;
  -webkit-font-smoothing: antialiased; }
  header .logo {
    float: left; }
    header .logo span {
      font-size: 13px;
      color: #999;
      font-family: FranklinGothicURW-Dem;
      text-transform: uppercase;
      margin-left: 32px; }
    header .logo img {
      width: 132px; }
  header .navigation {
    float: right;
    padding: 20px 0; }
    header .navigation ul {
      display: inline-block;
      margin: 0;
      padding: 0; }
    header .navigation ul li {
      list-style-type: none;
      display: inline-block;
      margin: 10px 9px; }
    header .navigation a {
      color: #ca982c;
      text-transform: uppercase;
      text-decoration: none;
      font-family: FranklinGothicURW-Dem;
      font-size: 13px;
      margin-top: 4px;
      display: block; }
      header .navigation a:hover, header .navigation a.active {
        color: #dfc180; }
    header .navigation a#investorLogin {
      color: #fff; }
      header .navigation a#investorLogin:hover {
        color: #a6b8c9; }
  header #mobile-menu-trigger {
    display: none; }

.mobile-navigation {
  display: none;
  height: 100vh;
  float: right;
  padding: 20px 0; }
  .mobile-navigation ul {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .mobile-navigation ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 9px; }
  .mobile-navigation a {
    color: #ca982c;
    text-transform: uppercase;
    text-decoration: none;
    font-family: FranklinGothicURW-Dem;
    font-size: 13px;
    margin-top: 4px;
    display: block; }
    .mobile-navigation a:hover, .mobile-navigation a.active {
      color: #dfc180; }
  .mobile-navigation a#investorLogin {
    color: #fff; }
    .mobile-navigation a#investorLogin:hover {
      color: #a6b8c9; }

/*************************************************************/
/*  	BASIC SECTIONS										 */
/*************************************************************/
.section {
  position: relative;
  width: 100vw; }

.section-title {
  font-family: FranklinGothicURW-Boo;
  font-size: 40px;
  padding-top: 8vh;
  line-height: 5vh; }

p {
  margin-bottom: 0; }

.bold {
  font-family: FranklinGothicURW-Med;
  color: #000; }

/*************************************************************/
/*  	HERO SECTION										 */
/*************************************************************/
#home {
  background: #CB982D url("../images/homepage-background.jpg") no-repeat;
  background-position: right bottom;
  background-size: 53%; }
  #home .container-large {
    position: relative; }
    #home .container-large .text-container {
      width: 45%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
      #home .container-large .text-container .alt-asset-mobile {
        display: none; }
      #home .container-large .text-container .headline {
        color: #000;
        font-size: 19px;
        font-family: FranklinGothicURW-Dem;
        text-transform: uppercase; }
      #home .container-large .text-container h1 {
        color: #fff;
        font-size: 60px;
        line-height: 60px;
        font-family: FranklinGothicURW-Lig;
        margin-top: 20px; }
  #home img {
    display: none; }

/*************************************************************/
/*  	ABOUT SECTION										 */
/*************************************************************/
#about-us {
  background: #7B7C7C; }
  #about-us .section-title {
    color: #003366; }
  #about-us p {
    color: #d1d1d1;
    font-size: 3.5vh;
    line-height: 4vh;
    font-family: FranklinGothicURW-Lig; }
    #about-us p:first-of-type {
      margin-top: 5vh; }

/*************************************************************/
/*  	INVESTMENT PRINCIPLES	    						 */
/*************************************************************/
#investment-principles-heading {
  background: #000;
  padding-bottom: 50px; }
  #investment-principles-heading .section-title {
    color: #ca982c;
    padding-top: 70px;
    font-family: FranklinGothicURW-Lig; }
  #investment-principles-heading p {
    color: #6a6c6c;
    font-size: 30px;
    line-height: 33px;
    font-family: FranklinGothicURW-Lig; }
    #investment-principles-heading p:first-of-type {
      margin-top: 48px; }

/*************************************************************/
/*  	CONTACT US   										 */
/*************************************************************/
#contact {
  background: #ca982c; }
  #contact .section-title {
    color: black; }
  #contact .locations {
    margin-top: 50px; }
    #contact .locations .location {
      float: left;
      width: 33%; }
      #contact .locations .location ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        #contact .locations .location ul li {
          font-size: 15px;
          line-height: 20px; }
          #contact .locations .location ul li.company-name {
            color: #efe0c0;
            font-family: FranklinGothicURW-Med; }
        #contact .locations .location ul a {
          color: #000;
          text-decoration: none; }

/*************************************************************/
/*  	DISCLAIMER  										 */
/*************************************************************/
#disclosures .section-title {
  color: #003366; }
#disclosures p {
  color: #5a5b5c; }

/*************************************************************/
/*  	FOOTER												 */
/*************************************************************/
footer {
  padding: 40px 0 60px;
  color: #5a5b5c; }
  footer .all-rights {
    display: inline; }

/*************************************************************/
/*  	SLIDES           									 */
/*************************************************************/
.slides {
  padding: 0;
  margin: 0;
  width: 100vw;
  position: relative;
  top: 0;
  background: #000; }
  .slides .slide {
    height: 100%;
    width: 100%;
    z-index: 3;
    background: #000;
    -webkit-box-shadow: 0px -50px 50px 0px #000;
    -moz-box-shadow: 0px -50px 50px 0px #000;
    box-shadow: 0px -50px 50px 0px #000;
    -webkit-font-smoothing: antialiased; }
    .slides .slide .slide-container {
      position: relative; }
      .slides .slide .slide-container .large-number {
        color: #222;
        font-size: 80vh;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0vh);
        -webkit-transform: translate(-50%, 0vh); }
    .slides .slide .text-container {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
      .slides .slide .text-container .headline {
        color: #ca982c;
        font-size: 19px;
        font-family: FranklinGothicURW-Dem;
        padding-bottom: 27px;
        text-transform: uppercase; }
      .slides .slide .text-container .slide-text {
        color: #6a6c6c;
        font-size: 59px;
        line-height: 60px; }
        .slides .slide .text-container .slide-text ul {
          margin: 15px 0 0;
          padding: 0 0 0 25px; }
          .slides .slide .text-container .slide-text ul li {
            font-size: 36px; }
    .slides .slide:last-of-type .large-number {
      transform: translate(-60%, 0vh) !important;
      -webkit-transform: translate(-60%, 0vh) !important;
      letter-spacing: -78px; }

/*************************************************************/
/*  	HEADER GRADIENTS           									 */
/*************************************************************/
.goldShadow {
  -webkit-box-shadow: 0 30px 25px 25px #ca982c;
  -moz-box-shadow: 0 30px 25px 25px #ca982c;
  box-shadow: 0 30px 25px 25px #ca982c; }

.greyShadow {
  -webkit-box-shadow: 0 30px 25px 25px #7B7C7C;
  -moz-box-shadow: 0 30px 25px 25px #7B7C7C;
  box-shadow: 0 30px 25px 25px #7B7C7C; }

.blackShadow {
  -webkit-box-shadow: 0 30px 25px 25px #000;
  -moz-box-shadow: 0 30px 25px 25px #000;
  box-shadow: 0 30px 25px 25px #000; }

.whiteShadow {
  -webkit-box-shadow: 0 30px 25px 25px #fff;
  -moz-box-shadow: 0 30px 25px 25px #fff;
  box-shadow: 0 30px 25px 25px #fff; }

@media (max-width: 1100px) {
  .container, .container-large {
    padding-left: 25px;
    padding-right: 25px; } }
/* tablet size */
@media (max-width: 1024px) {
  header {
    padding-bottom: 25px; }
    header .logo img {
      width: 150px; }
    header .logo span {
      display: none; }
    header .navigation {
      display: none; }
    header #mobile-menu-trigger {
      display: block;
      width: 30px;
      height: 30px;
      float: right;
      transition: .5s ease all;
      position: relative; }
      header #mobile-menu-trigger .horz-bar {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: 5px;
        transition: .5s ease all;
        opacity: 1;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%); }
        header #mobile-menu-trigger .horz-bar:first-of-type {
          top: 0; }
        header #mobile-menu-trigger .horz-bar:nth-of-type(2) {
          top: 6px; }
        header #mobile-menu-trigger .horz-bar:last-of-type {
          top: 12px; }
      header #mobile-menu-trigger.opened .horz-bar:first-of-type {
        transform: rotate(-45deg) translate(-50%, 0);
        -webkit-transform: rotate(-45deg) translate(-50%, 0);
        margin-top: 0;
        position: absolute;
        top: 0%;
        left: 50%; }
      header #mobile-menu-trigger.opened .horz-bar:nth-of-type(2) {
        transform: rotate(45deg) translate(-50%, 0);
        -webkit-transform: rotate(45deg) translate(-50%, 0);
        margin-top: 0;
        position: absolute;
        top: calc(75% - 1px);
        left: 50%; }
      header #mobile-menu-trigger.opened .horz-bar:last-of-type {
        opacity: 0; }

  .mobile-navigation {
    display: none;
    position: fixed;
    top: 0;
    background: #164774;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
    height: 100vh;
    z-index: 9999; }
    .mobile-navigation ul {
      width: 100%;
      box-sizing: border-box; }
      .mobile-navigation ul li {
        clear: both;
        float: none;
        display: block !important;
        padding: 23px 0 25px;
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
        .mobile-navigation ul li a {
          font-size: 14px; }
        .mobile-navigation ul li:last-of-type {
          border-bottom: none; }

  #home {
    box-sizing: border-box;
    background-image: none;
    padding-top: 120px;
    padding-bottom: 0; }
    #home img {
      display: block !important;
      width: 100%;
      padding-left: 25px;
      box-sizing: border-box; }
    #home .text-container {
      position: relative !important;
      transform: translateY(0) !important;
      -webkit-transform: translateY(0) !important;
      top: 0 !important;
      width: 100% !important; }
      #home .text-container .headline {
        font-size: 19px; }
      #home .text-container .alt-asset-mobile {
        display: block !important;
        color: #fff;
        font-size: 19px;
        font-family: FranklinGothicURW-Dem !important;
        text-transform: uppercase;
        padding-bottom: 30px;
        padding-top: 30px; }
      #home .text-container h1 {
        font-size: 42px;
        line-height: 45px; }

  #about-us p {
    font-size: 20px !important;
    line-height: 28px !important;
    width: 100% !important; }
    #about-us p:first-of-type {
      margin-top: 15px; }

  .section {
    padding-bottom: 100px; }

  .section-title {
    font-size: 30px !important;
    line-height: 36px !important;
    padding-top: 30px !important; }

  #investment-principles-heading .section-title {
    font-family: FranklinGothicURW-Lig !important;
    padding-top: 38px !important; }

  .slides .slide .text-container {
    left: 25px;
    width: calc(100vw - 50px); }
    .slides .slide .text-container .slide-text {
      font-size: 30px;
      line-height: 33px;
      font-family: FranklinGothicURW-Boo !important; }
      .slides .slide .text-container .slide-text li {
        font-size: 24px !important; }
  .slides .slide .large-number {
    font-size: 90vw !important;
    transform: translate(-50%, 0vh) !important;
    -webkit-transform: translate(-50%, 0vh) !important; }
  .slides .slide:last-of-type .large-number {
    transform: translate(-60%, 0vh) !important;
    -webkit-transform: translate(-60%, 0vh) !important;
    letter-spacing: -50px; }

  .goldShadow {
    -webkit-box-shadow: 0 15px 18px 18px #ca982c !important;
    -moz-box-shadow: 0 15px 18px 18px #ca982c !important;
    box-shadow: 0 15px 18px 18px #ca982c !important; }

  .greyShadow {
    -webkit-box-shadow: 0 15px 18px 18px #7B7C7C !important;
    -moz-box-shadow: 0 15px 18px 18px #7B7C7C !important;
    box-shadow: 0 15px 18px 18px #7B7C7C !important; }

  .blackShadow {
    -webkit-box-shadow: 0 15px 18px 18px #000 !important;
    -moz-box-shadow: 0 15px 18px 18px #000 !important;
    box-shadow: 0 15px 18px 18px #000 !important; }

  .whiteShadow {
    -webkit-box-shadow: 0 15px 18px 18px #fff !important;
    -moz-box-shadow: 0 15px 18px 18px #fff !important;
    box-shadow: 0 15px 18px 18px #fff !important; } }
/* mobile size */
@media (max-width: 767px) {
  .half, .third, .two-thirds, .three-fourths, .fourth {
    width: 100%; }

  #home {
    background-size: 100%; }

  #contact .locations .location {
    width: 100%;
    clear: both;
    float: none;
    margin-top: 20px; }
    #contact .locations .location ul li.company-name {
      font-family: FranklinGothicURW-Dem !important; }

  .slides .slide .large-number {
    transform: translate(-50%, 8vh) !important;
    -webkit-transform: translate(-50%, 8vh) !important; }
  .slides .slide:last-of-type .large-number {
    transform: translate(-60%, 8vh) !important;
    -webkit-transform: translate(-60%, 8vh) !important;
    letter-spacing: -50px; }

  footer .all-rights {
    display: block; } }
@media (max-width: 415px) {
  h1 {
    font-size: 10vw !important;
    line-height: 10vw !important; }

  .alt-asset-mobile,
  .headline {
    font-size: 4.5vw !important; } }
/* small horizontal screen  */
@media (max-height: 540px) and (min-width: 1024px) {
  #home {
    background-size: 40%; } }

/*# sourceMappingURL=style.css.map */
